<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>iPUCP</title>
</head>
<body>
<nav
        class="navbar navbar-expand-sm navbar-light border fixed-top"
        style="background-color: #373737; height:15%"
>
    <div class="ml-lg-5 ">

        <a class="navbar-brand ml-lg-5 mt-1 mr-5" href="#" >
            <div class="row" style="margin-top:4%;margin-left: 15%" >
                <div class="col">
                    <img th:src="@{/img/logo-pucp1.png}" alt="..." style="width:45%; height:85%;margin-top: -3%"/>

                </div>
                <div  class="col" style="margin-left: -15%">
                    <p class="h1" style="color: #B9AB7F;margin-top: 2%;margin-left: -28%"><strong>iPUCP</strong></p>
                </div>
            </div>
        </a>
    </div>
    <div
            class="collapse navbar-collapse ml-5 mt-2"
            id="navbarSupportedContent"
    >
        <ul class="navbar-nav" style="margin-left:7%">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                ><i class="fas fa-home fa-lg mr-2 d-none d-sm-block mt-1"style="color: #9F9D81;font-size:200%"></i>
                    <span class="sr-only">(current)</span></a
                >
            </li>

            <li class="nav-item" style="margin-left: 25%">
                <a class="nav-link" href="#"
                ><i class="far fa-compass fa-lg mr-2 d-none d-sm-block mt-1" style="font-size:200%;color: #B9B9B9"></i
                ></a>
            </li>
            <li class="nav-item" style="margin-left: 25%">
                <a class="nav-link" href="#"
                ><i
                        class="far fa-fw fa-user fa-lg mr-2 d-none d-sm-block mt-1"
                        style="font-size:200%;color: #9F9D81"
                ></i
                ></a>
            </li>
            <li class="nav-item" style="margin-left: 180%">
                <a class="nav-link" href="#"
                ><i class='fas fa-sign-out-alt' style="font-size:200%;color: #9F9D81;margin-top: -120%"></i
                ></a>
            </li>
        </ul>
    </div>
</nav>
</br>
</br>
<div class="py-1 text-center">
    <h2>Detalle Incdencia #2022</h2>
</div>

<div class="container offset-2 mt-4 middlearea">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                    />
                    <span class="postuserfont"><strong>20180252</strong></span>
                </div>
                <img
                        src="https://blog.biletbayi.com/wp-content/uploads/2019/12/rize.jpg"
                        class="card-img-top"
                        alt="..."
                />
                <ul
                        class="list-group list-group-horizontal mt-1"
                        style="list-style-type: none; border: 0"
                >
                </ul>
                <div class="card-body" style="margin-top: -15px">
                    <p class="card-text postuserfont">
                        <strong style="margin-left: -4px; margin-right: 5px"
                        >HUAWEI ENCONTRADO EN CIA</strong
                        >
                    </p>
                    <p class="card-text postuserfont">
                        <strong style="margin-left: -4px; margin-right: 5px"
                        >Tipo:</strong
                        > Objeto perdido
                    </p>

                    <p class="card-text postuserfont" style="margin-top: -15px">
                        <strong style="margin-left: -4px; margin-right: 5px"
                        >Descripción: </strong
                        >
                    </p>
                    <p class="card-text postuserfont" style="margin-top: -15px">
                        Se ha encontrado este celular modelo Huaweii P80 en la biblioteca de CIA a las 2:40pm, creemos que ha estado aquí desde hace una hora y nadie lo reclama
                    </p>
                    <p
                            class="card-text"
                            style="
                  margin-top: -10px;
                  margin-left: -4px;
                  font-size: 12px;
                  color: rgb(139, 133, 133);
                "
                    >
                        Destacado 246 veces
                    </p>
                </div>
                <div
                        class="card-footer"
                        style="
                color: rgb(139, 133, 133);
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                  'Helvetica Neue', sans-serif;
                font-size: 14px;
              "
                >
                    <ul
                            class="list-group list-group-horizontal mt-1"
                            style="list-style-type: none; border: 0"
                    >
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                            ><i
                                    class="fa-solid fa-comment"
                                    style="
                      color: black;
                      position: relative;
                      font-size: 23px;
                      margin-left: -11px;
                    "
                            ></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                            ><i
                                    class="fa-solid fa-location-dot"
                                    style="
                      color: black;
                      position: relative;
                      font-size: 23px;
                      margin-left: -11px;
                    "
                            ></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
