<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>MisIncidencias</title>
</head>
<body style="background:#D3D3D3">


<main>

    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-row-container">
                <div class="nav-logo-container">
                    <div class="menu-toggle">
                        <img class="img-logo" th:src="@{/img/logo.jpg}" style="width: 35%;height: 85%;border-radius: 100%;margin-top: 1vm"/>
                    </div>
                    <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP</strong></h1></div>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar'}">
                            <i class="fas fa-home nav-links-img"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                            <i class="far fa-compass nav-links-img"
                               ></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/perfil'}">
                            <i class="far fa-fw fa-user nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                            <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                        </form>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    </br>

    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom" style="text-align: center;margin-top: -5%">Mis Incidencias</h1>
        <div class="container">
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-success" role="alert"></div>
            <div th:if="${msg3 != null}" th:text="${msg3}" class="alert alert-success" role="alert"></div>
            <div class="row">

                <div class="col">
                        <input name="searchField" class="form-control mb-3" type="text" placeholder="Buscar por nombre"/>
                </div>
                <div class="col-auto">
                    <a class="btn btn-secondary" th:href="@{'/usuario/listar'}">Regresar</a>
                </div>
            </div>
        </div>

        <div >
            <table class="table table-striped" id="tablax">
                <thead  class="thead-dark"style="color: #393830;background: #393830">
                <tr class="table-info">
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">Nombre</th>
                    <th style="text-align: center">Tipo</th>
                    <th style="text-align: center">Urgencia</th>
                    <th style="text-align: center">Estado</th>
                    <th style="text-align: center">Ingresar comentario</th>
                    <th style="text-align: center"></th>
                    <th style="text-align: center"></th>
                </tr>
                </thead>

                <tbody th:unless="${listaIncidencias.size() == 0}">
                <tr  th:each="incidencia,v : ${listaIncidencias}">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1" th:text="${v.index + 1}" >1</p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center" th:text="${incidencia.nombre}"></td>
                    <td style="text-align: center" th:text="${incidencia.idtipo.tipoIncidencia}"></td>
                    <td style="text-align: center" th:text="${incidencia.idurgencia.tipoUrgencia}"></td>
                    <td style="text-align: center" th:if="${incidencia.estado == 0}">No atendida</td>
                    <td style="text-align: center" th:if="${incidencia.estado == 1}">Atendida</td>
                    <td style="text-align: center" th:if="${incidencia.estado == 2}">Resuelta</td>

                    <td style="text-align: center" th:if="${incidencia.estado == 2}">Resuelta</td>
                    <td th:if="${incidencia.estado== 1 or incidencia.estado==0}" style="text-align: center"><button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target=${'#Modal'+incidencia.id}">Comentar</button></td>
                    <td><a class="btn btn-secondary" th:href="@{'/usuario/lista_comentarios?id=' + ${incidencia.id}}">Ver Comentarios</a>
                    </td>
                    <td><a class="btn btn-secondary" th:href="@{'/usuario/detalle?id=' + ${incidencia.id}}">Ver Detalle</a>
                    </td>
                </tr>

                </tbody>

            </table>
            <p style="text-align: center" th:if="${listaIncidencias.size() == 0}">No existen incidencias registradas</p>
        </div>

    </div>

    <!-- Modal 2-->
    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Comentario: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="post"  class="mt-2" >
                        <div class="mb-3" style="text-align: center">
                            <input name="id" type="hidden"/>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                            <button type="submit" class="btn btn-success"  >Registrar</button>
                        </div>
                    </form>

                </div>

                <!--<div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                    <button type="submit" class="btn btn-success" th:form="${'form'+usuario.id}" >Registrar</button>
                </div>-->

            </div>
        </div>
    </div>

    <div th:each="incidencia : ${listaIncidencias}">
        <div class="modal fade" th:id="${'Modal'+incidencia.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comentario: </h5>
                        <button th:unless="${#fields.hasErrors('comentario.textComentario')}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <a th:if="${#fields.hasErrors('comentario.textComentario')}" type="button" class="btn-close" th:href="@{'/usuario/misIncidencias'}" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">

                        <form method="post" th:action="@{'/usuario/comentar'}" class="mt-2" th:id="${'form'+incidencia.id}">
                            <div class="mb-3">
                                <input th:value="${incidencia.id}" name="id" type="hidden"/>

                                <label for="textComentario" class="form-label">Ingrese comentario: </label>
                                <textarea th:field="${comentario.textComentario}" class="form-control" name="textComentario" id="textComentario" rows="4"
                                          th:classappend="${#fields.hasErrors('comentario.textComentario')?'is-invalid':''}" required></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('comentario.textComentario')}"
                                     th:errors="${comentario.textComentario}">
                                    Please choose a username.
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button th:unless="${#fields.hasErrors('comentario.textComentario')}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                        <a th:if="${#fields.hasErrors('comentario.textComentario')}" type="button" class="btn btn-secondary" th:href="@{'/usuario/misIncidencias'}">Regresar</a>
                        <button type="submit" class="btn btn-success" th:form="${'form'+incidencia.id}">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        var myModal = new bootstrap.Modal(document.getElementById('Modal'+[[${id}]]), {})
        myModal.show()
    </script>


</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>


</body>
</html>