<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <title>MisIncidencias</title>
    <style>
        @media (max-width: 777px) {
            .hidden-mobile {
                display: none;
            }
        }
        @media (min-width: 777px) {
            .show-mobile {
                display: none;
            }
        }
    </style>
</head>
<body>


<main>

    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-row-container">
                <div class="nav-logo-container">
                    <div class="menu-toggle">
                        <a th:href="@{'/usuario/listar?index=0'}">
                            <img class="img-logo" th:src="@{/img/logo.jpg}" style="border-radius: 100%;margin-bottom: 2mm; height:60px;width:60px; margin-left: 2mm;margin-right:2mm"/>
                        </a>
                    </div>
                    <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP<span style="font-size: medium">v.usuario</span></strong></h1></div>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar?index=0'}">
                            <i class="fas fa-home nav-links-img"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                            <i class="far fa-compass nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li class="show-mobile dropup">
                        <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" >
                            <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                            <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                            <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                            <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                        </ul>
                    </li>
                    <li class="hidden-mobile dropdown">
                        <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" >
                            <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                            <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                            <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                            <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    </br>
    </br>


    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom" style="text-align: center;margin-top: -5%">Mis Incidencias</h1>
        <div class="container">
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-success" role="alert"></div>
            <div th:if="${msg3 != null}" th:text="${msg3}" class="alert alert-success" role="alert"></div>
            <div th:if="${msg4 != null}" th:text="${msg4}" class="alert alert-success" role="alert"></div>
        </div>






        <table class="table table-striped display nowrap" id="tablax" style="overflow-x: auto; overflow-y: auto" width="100%">
            <thead  class="thead-dark"style="color: #393830;background: #393830">
            <tr class="table-info">
                <th style="text-align: center">#</th>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">¿Está resuelta?</th>
                <th style="text-align: center">Ingresar comentario</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            </thead>

            <tbody th:unless="${listaIncidencias.size() == 0}">
            <tr  th:each="incidencia,v : ${listaIncidencias}">
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1" th:text="${v.index + 1}" >1</p>
                        </div>
                    </div>
                </td>
                <td style="text-align: center" th:text="${incidencia.nombre}"></td>

                <td style="text-align: center" th:if="${incidencia.estado == 0}">Registrada</td>
                <td style="text-align: center" th:if="${incidencia.estado == 1}">En proceso</td>
                <td style="text-align: center" th:if="${incidencia.estado == 2}">Atendida</td>
                <td style="text-align: center" th:if="${incidencia.estado == 3}">Resuelta</td>

                <td style="text-align: center" th:if="${incidencia.estado == 0 or incidencia.estado==1 or incidencia.estado==2}"><button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target=${'#Modal2'+incidencia.id}">No</button></td>
                <td style="text-align: center" th:if="${incidencia.estado == 3}">Sí</td>


                <td style="text-align: center" th:if="${incidencia.estado == 3}">Resuelta</td>
                <td style="text-align: center" th:if="${incidencia.estado == 0}">Pronto podrá <br>comentar</td>
                <td th:if="${incidencia.estado== 1 or incidencia.estado==2}" style="text-align: center"><button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target=${'#Modal'+incidencia.id}">Comentar</button></td>

                <td style="text-align: center" th:if="${incidencia.estado == 0}">Pronto podrás ver<br> los comentarios</td>
                <td th:if="${incidencia.estado== 1 or incidencia.estado== 2 or incidencia.estado==3}"><a class="btn btn-secondary" style="margin-left: 25px" th:href="@{'/usuario/lista_comentarios?id=' + ${incidencia.id}}">Ver Comentarios</a>
                </td>

                <td><a class="btn btn-secondary" th:href="@{'/usuario/detalle?id=' + ${incidencia.id}}">Detalle</a>
                </td>
            </tr>

            </tbody>

        </table>
        <p style="text-align: center" th:if="${listaIncidencias.size() == 0}">No existen incidencias registradas</p>








    </div>

    <!-- Modal 2-->
    <div th:each="incidencia : ${listaIncidencias}">
        <div class="modal fade" th:id="${'Modal2'+incidencia.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">¿Desea resolverla? Puede hacerlo si gusta, no obstante, ya no podrá abrirla de nuevo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form method="post"  th:action="@{'/usuario/incidenciaResuelta'}" class="mt-2" >
                            <div class="mb-3" style="text-align: center">
                                <input th:value="${incidencia.id}" name="id" type="hidden"/>
                                <button type="submit" class="btn btn-success"  >Resolver</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                            </div>
                        </form>

                    </div>

                    <!--<div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                        <button type="submit" class="btn btn-success" th:form="${'form'+usuario.id}" >Registrar</button>
                    </div>-->

                </div>
            </div>
        </div>
    </div>


    <div th:each="incidencia : ${listaIncidencias}">
        <div class="modal fade" th:id="${'Modal'+incidencia.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comentario: </h5>
                        <button th:unless="${#fields.hasErrors('incidencia.comentarioUsuario')}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        <a th:if="${#fields.hasErrors('incidencia.comentarioUsuario')}" type="button" class="btn-close" th:href="@{'/usuario/misIncidencias'}" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">

                        <form method="post" th:action="@{'/usuario/comentar'}" class="mt-2" th:id="${'form'+incidencia.id}">
                            <div class="mb-3">
                                <input th:value="${incidencia.id}" name="id" type="hidden"/>

                                <!-- To-do esto es para que no se envie estos valores nulos al recibirlo en admin en suspender -->
                                <input th:value="${incidencia.descripcion}" name="descripcion" type="hidden"/>
                                <input th:value="${incidencia.nombre}" name="nombre" type="hidden"/>
                                <input th:value="${incidencia.codigo.id}" name="codigo" type="hidden"/>
                                <input th:value="${incidencia.idurgencia.id}" name="idurgencia" type="hidden"/>
                                <input th:value="${incidencia.idtipo.id}" name="idtipo" type="hidden"/>
                                <input th:value="${incidencia.comentario}" name="comentario" type="hidden"/>
                                <input th:value="${incidencia.estado}" name="estado" type="hidden"/>
                                <input th:value="${incidencia.destacado}" name="destacado" type="hidden"/>
                                <input th:value="${incidencia.fecha}" name="fecha" type="hidden"/>
                                <input th:value="${incidencia.emMedica}" name="emMedica" type="hidden"/>
                                <input th:value="${incidencia.max}" name="max" type="hidden"/>
                                <input th:value="${incidencia.ubicacion.id}" name="ubicacion" type="hidden"/>
                                <input th:value="${incidencia.max_usuario}" name="max_usuario" type="hidden"/>
                                <input value="defaultPassword"  name="contra" type="hidden"/>
                                <!-- ################################################################################3 -->


                                <label for="comentarioUsuario" class="form-label">Ingrese comentario: </label>
                                <textarea th:placeholder="'El último comentario es: '+${incidencia.comentarioUsuario}" class="form-control" name="comentarioUsuario" id="comentarioUsuario" rows="4"
                                          th:classappend="${#fields.hasErrors('incidencia.comentarioUsuario')?'is-invalid':''}" maxlength="100" required></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('incidencia.comentarioUsuario')}"
                                     th:errors="${incidencia.comentarioUsuario}">
                                    Please choose a username.
                                </div>

                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button th:unless="${#fields.hasErrors('incidencia.comentarioUsuario')}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                        <a th:if="${#fields.hasErrors('incidencia.comentarioUsuario')}" type="button" class="btn btn-secondary" th:href="@{'/usuario/misIncidencias'}">Regresar</a>
                        <button type="submit" class="btn btn-success" th:form="${'form'+incidencia.id}">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var myModal = new bootstrap.Modal(document.getElementById('Modal'+[[${id}]]), {})
        myModal.show()
    </script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({

                scrollX:        true,
                scrollCollapse: true,

                //"bPaginate": false,
                //"bFilter": false,
                //"bInfo": false,
                //"ordering": false,
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Búsqueda&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_",
                    info: "Mostrando item _START_ al _END_ de _TOTAL_ en total",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 400,
                lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
            });

            $('.dataTables_filter input[type="search"]').css(
                {'width':'auto','display':'inline-block'}
            );
        });
    </script>


</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>


</body>
</html>