<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link rel="stylesheet" th:href="@{/css/boton.css}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link
                rel="stylesheet"
                th:href="@{https://use.fontawesome.com/releases/v5.15.1/css/all.css}"
                integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <title>Lista de comentarios</title>
        <style>
            @media (max-width: 777px) {
                .hidden-mobile {
                    display: none;
                }
            }
            @media (min-width: 777px) {
                .show-mobile {
                    display: none;
                }
            }
        </style>
    </head>
    <body style="background:#D3D3D3">

        <div class="nav-container">
            <nav class="navbar">
                <div class="navbar-row-container">
                    <div class="nav-logo-container">
                        <div class="menu-toggle">
                            <img class="img-logo" th:src="@{/img/logo.jpg}" style="width: 35%;height: 85%;border-radius: 100%;margin-top: 1vm"/>
                        </div>
                        <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP<span style="font-size: medium">v.usuario</span></strong></h1></div>
                    </div>
                    <ul class="nav-menu">
                        <li>
                            <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar'}">
                                <i class="fas fa-home nav-links-img"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                                <i class="far fa-compass nav-links-img"
                                ></i>
                            </a>
                        </li>
                        <li class="show-mobile dropup">
                            <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" >
                                <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                                <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                                <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                                <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                            </ul>
                        </li>
                        <li class="hidden-mobile dropdown">
                            <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" >
                                <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                                <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                                <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                                <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                            </ul>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                                <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                            </form>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>

        <div class="row justify-content-center mx-auto m-2">

            <h1 class="pb-2 border-bottom" style="text-align: center;" th:text="${'Lista de comentarios de la incidencia con ID #'+id}">Lista de comentarios de la Incidencia con ID #</h1>

            </br>
            </br>
            </br>


            <div class="row justify-content-center mx-auto m-2">

                <div class="col-xl-5 col-lg-6  ">
                    <h3 style="text-align: center; ">Lista de comentarios de Seguridad</h3>
                    <div  class="card shadow mb-4"  th:each="comentarios, info : ${listaComentariosSeguridad}">

                        <span class="postuserfont m-2" th:text="${'Comentario #'+(info.index+1)}"><strong>Comentario Fecha</strong></span>
                        <div class="form-group form-group-textarea mb-md-0">
                            <input class="form-check" id="tipo" name="tipo" type="text" th:value="${comentarios.textComentario}" style="margin-left: 21px;width: 95%"  disabled>
                        </div>


                    </div>
                    <p style="text-align: center" th:if="${listaComentariosSeguridad.size() == 0}">No existen comentarios registrados</p>
                </div>

                <div class="col-xl-5 col-lg-6 ">
                    <h3 style="text-align: center; ">Lista de comentarios del Usuario</h3>
                    <div  class="card shadow mb-4" th:each="comentarios, info : ${listaComentariosUsuario}">

                        <span class="postuserfont m-2" th:text="${'Comentario #'+(info.index+1)}"><strong>Comentario Fecha</strong></span>
                        <div class="form-group form-group-textarea mb-md-0">
                            <input class="form-check" id="tipo" name="tipo" type="text" th:value="${comentarios.textComentario}" style="margin-left: 21px;width: 95%"  disabled>
                        </div>

                    </div>
                    <p style="text-align: center" th:if="${listaComentariosUsuario.size() == 0}">No existen comentarios registrados</p>
                </div>


            </div>

            <div style="text-align: center;">
                <a class="btn btn-secondary" style="width:100px;height:40px; color: #FFFFFF" th:href="@{'/usuario/misIncidencias'}"> Regresar</a>
            </div>

        </div>


    </body>
</html>