<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>iPUCP</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <style>
        @media (max-width: 777px) {
            .hidden-mobile {
                display: none;
            }
        }
        @media (min-width: 777px) {
            .show-mobile {
                display: none;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="nav-container">
    <nav class="navbar">
        <div class="navbar-row-container">
            <div class="nav-logo-container">
                <div class="menu-toggle">
                    <a th:href="@{'/usuario/listar'}"style="width: 58%;height: 120%">
                        <img class="img-logo" th:src="@{/img/logo.jpg}" style="width: 34%;height: 80%;border-radius: 100%;margin-bottom: 2mm"/>
                    </a>
                </div>
                <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP<span style="font-size: medium">v.usuario</span></strong></h1></div>
            </div>
            <ul class="nav-menu">
                <li>
                    <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar'}">
                        <i class="fas fa-home nav-links-img"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                        <i class="far fa-compass nav-links-img"
                        ></i>
                    </a>
                </li>
                <li class="show-mobile dropup">
                    <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" >
                        <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                        <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                        <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                        <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                    </ul>
                </li>
                <li class="hidden-mobile dropdown">
                    <button type="button" class="nav-link dropdown-toggle fw-bold btn btn-dark dropdown-toggle-split"   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" >
                        <li><span class="dropdown-item" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|" style="background-color: #1d1d1d; color: #eeeeee"></span></li>
                        <li><a class="dropdown-item" th:href="@{'/usuario/misIncidencias'}">Incidencias</a></li>
                        <li><a class="dropdown-item" th:href="@{'/usuario/perfil'}">Perfil</a></li>
                        <li><form th:action="@{/logout}" method="post"><a class="dropdown-item"><input type="submit" class="border-0" style="background: #eeeeee; background-color: #eeeeee" value="Cerrar Sesión"></a></form></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</div>
</br>
</br>

<div class="container mt-4 middlearea">
    <main>
        <div class="row justify-content-center text-center">
        <div class="py text-center">
            <h2>Nueva Incidencia</h2>
            <p class="lead">Aviso de seguridad</p>
        </div>
        </div>
        <div class="container mt-4 middlearea">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!--<h4 class="mb-3">Billing address</h4>-->
                    <form method="post" th:action="@{'/usuario/save'}" class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger"
                                 role="alert"></div>
                            <hr/>
                            <div class="col-12">
                                <label for="titulo" class="form-label">Título de la incidencia </label>
                                <input type="text"  name = "nombre" class="form-control w-100" id="titulo" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <h1></h1>
                                <label for="tipo" class="form-label">Tipo</label>
                                <select class="custom-select" id="tipo" name = "idtipo">
                                    <option>-</option>
                                    <option th:each="tipo : ${listaTipo}"
                                            th:text="${tipo.tipoIncidencia}"
                                            th:value="${tipo.id}">${categatory.name}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>

                            <div class="col-12">
                                <h1></h1>
                                <label for="urgencia" class="form-label">Urgencia</label>
                                <select class="custom-select" id="urgencia" name = "idurgencia">
                                    <option>-</option>
                                    <option th:each="urgencia : ${listaUrgencia}"
                                            th:text="${urgencia.tipoUrgencia}"
                                            th:value="${urgencia.id}">${categatory.name}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="emMedica" class="form-label">¿Necesita emergencia médica?</label>
                                <select class="custom-select" id="emMedica" name = "emMedica">
                                    <option>-</option>
                                    <option value="1">SÍ</option>
                                    <option value="0">NO</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="descripcion" class="form-label">Descripción</label>
                                <input name = "descripcion" type="text" class="form-control w-100" id="descripcion" placeholder="Detalle lo que ha sucedido" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="ubicacion" class="form-label">Ubicación</label>
                                <select class="custom-select" id="ubicacion" name = "ubicacion">
                                    <option>-</option>
                                    <option th:each="ubicacion : ${listaUbicacion}"
                                            th:text="${ubicacion.nombre}"
                                            th:value="${ubicacion.id}">${categatory.name}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div >
                            <label for="foto" class="form-label">Añada una imagen: </label>
                            <input type="file" class="btn btn-primary" name="foto" style="background-color:grey; border-color:grey" id="foto" required >
                        </div>
                        <hr class="my-4">
                        <div class="h-auto">
                        <button class="w-100 btn btn-dark btn-lg" type="submit">Registrar</button></div>
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">


    </footer>
</div>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>
</body>
</html>