<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>iPUCP</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-row-container">
                <div class="nav-logo-container">
                    <div class="menu-toggle">
                        <img class="img-logo" th:src="@{/img/logo-pucp1.png}" alt="..."/>
                    </div>
                    <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP</strong></h1></div>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar'}">
                            <i class="fas fa-home nav-links-img"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                            <i class="far fa-compass nav-links-img"
                               style="color: #B9B9B9"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/perfil'}">
                            <i class="far fa-fw fa-user nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-links nav-links-btn">
                            <i class="fas fa-sign-out-alt nav-links-img"
                            ></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

<div class="container offset-2 mt-4 middlearea">
    <main>
        <div class="py text-center">
            <h2>Nueva Incidencia</h2>
            <p class="lead">Aviso de seguridad</p>
        </div>

        <div class="container offset-2 mt-4 middlearea" style="margin-top: -15px">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!--<h4 class="mb-3">Billing address</h4>-->
                    <form method="post" th:action="@{'/usuario/save'}" class="needs-validation" novalidate>
                        <div class="row g-3">

                            <div class="col-12">
                                <label for="titulo" class="form-label">Título de la incidencia </label>
                                <input type="text"  name = "nombre" class="form-control" id="titulo" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <h1></h1>
                                <label for="tipo" class="form-label">Tipo</label>
                                <select class="custom-select" id="tipo" name = "idtipo">
                                    <option th:each="tipo : ${listaTipo}"
                                            th:text="${tipo.tipoIncidencia}"
                                            th:value="${tipo.id}">${categatory.name}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>

                            <div class="col-12">
                                <h1></h1>
                                <label for="urgencia" class="form-label">Urgencia</label>
                                <select class="custom-select" id="urgencia" name = "idurgencia">
                                    <option th:each="urgencia : ${listaUrgencia}"
                                            th:text="${urgencia.tipoUrgencia}"
                                            th:value="${urgencia.id}">${categatory.name}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="emMedica" class="form-label">¿Necesita emergencia médica?</label>
                                <select class="custom-select" id="emMedica" name = "emMedica">
                                    <option value="1">SÍ</option>
                                    <option value="0">NO</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="descripcion" class="form-label">Descripción</label>
                                <input name = "descripcion" type="text" class="form-control" id="descripcion" placeholder="Detalle lo que ha sucedido" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                            <div class="col-12">
                                <h1></h1>
                                <label for="descripcion" class="form-label">Ubicacion</label>
                                <input name = "ubicacion" type="text" class="form-control" id="ubicacion" placeholder="Indique la ubicacion" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>


                        </div>

                        <hr class="my-4">


                        </br>
                        <div >
                            <label for="foto" class="form-label">Añada una imagen: </label>
                            <input type="file" class="btn btn-primary" name="foto" style="background-color:grey; border-color:grey" id="foto" required >
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-dark btn-lg" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">


    </footer>
</div>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>
</body>
</html>