<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
        crossorigin="anonymous"
/>
<script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css"  />
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css}"/>
<link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:500,700}" rel="stylesheet" type="text/css" />
<link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}" rel="stylesheet" type="text/css" />
<title>Mi perfil</title>
<style>
    .contenedor{
        display: flex;
    }
    .img{
        text-align: center;
    }
    #table-wrapper {
        position:relative;
    }
    #table-scroll {
        height:150px;
        overflow:auto;
        margin-top:20px;
    }
    #table-wrapper table {
        width:100%;

    }
    #table-wrapper table thead th .text {
        position:absolute;
        top:-20px;
        z-index:2;
        height:20px;
        width:35%;
        border:1px solid red;
    }
</style>
<body>
<main>


    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-row-container">
                <div class="nav-logo-container">
                    <div class="menu-toggle">
                        <img class="img-logo" th:src="@{/img/logo.jpg}" style="width: 35%;height: 85%;border-radius: 100%;margin-top: 1vm"/>
                    </div>
                    <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP</strong></h1></div>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/usuario/listar'}">
                            <i class="fas fa-home nav-links-img"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/mapa'}">
                            <i class="far fa-compass nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/usuario/perfil'}">
                            <i class="far fa-fw fa-user nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                            <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                        </form>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <div class="container">

        <div class="text-center" style="margin-top:4%;">
            <h3 class="section-heading">Mi Perfil</h3>

        </div>
        </br>
        <div class="row">
            <div class="col-3">
                <div class="contenedor">
                        <img src="/img/roca.jpg"  class="roca"  alt="...">
                        <div class="btn" style="margin-bottom: -8%">
                            <a  href="javascript:explorar();" >
                                <div class="form-group"style="position: relative; left: -125%; top: 70%;">
                                    <img src="/img/camara.png" style="width: 50px;height: 4%;border-radius: 4px;margin-top: 30%" class="camara" alt="..." title="subir imagen"id="m">
                                    <input type="file" name="f_subir" id="f_subir" style="display:none;" >
                                </div>
                            </a>
                        </div>
                </div>
                <a th:href="@{'/usuario/misIncidencias'}" class="lala">
                    <button style="margin-top: 19%;" class="btn btn-dark boton" type="submit" >Mis Incidencias</button>
                </a>
            </div>
            <div class="col-4">
                <span class="postuserfont"><strong>Usuario:</strong></span>
                <div class="form-group popo">
                    <input class="form-control" id="nombre_funcion1" type="text" th:value="${session.usuario.nombre} + ' ' + ${session.usuario.apellido}"  disabled>
                </div>
                </br>
                <span class="postuserfont"><strong>Código:</strong></span>
                <div class="form-group" style="margin-bottom: 12%">
                    <input class="form-control" type="text" th:value="${session.usuario.id}" disabled >
                </div>
                <span class="postuserfont" ><strong>Cargo:</strong></span>
                <div class="form-group">
                    <input class="form-control" type="text" th:value="${session.usuario.cargo.nombreCargo}" disabled >
                </div>
            </div>
            <div class="col-5">
                <span class="postuserfont"><strong>Correo:</strong></span>
                <div class="form-group popo">
                    <input class="form-control" id="nombre_funcion" type="text" th:value="${session.usuario.correo}"  disabled>
                </div>
                </br>
                <span class="postuserfont"><strong>DNI:</strong></span>
                <div class="form-group" style="margin-bottom: 12%">
                    <input class="form-control" id="nombre_funcion" type="text" th:value="${session.usuario.dni}"  disabled>
                </div>


            </div>

        </div>

        </br>

        <div class="row justify-content-center ultima" >
            <div class="col-md-6" style="margin-left:450px">
                <div class="row">
                    <div class="col" id="img">
                        <img src="/img/avatar1.jpg"   class="avatar" alt="...">

                    </div>
                    <div class="col">
                        <div class="sel">
                            <select onchange=cambiar_imagen() class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin-right: 5%" id="fruta">
                                <option selected value="pina">Piña</option>
                                <option value="sandia">Sandía</option>
                                <option value="naranja">Naranja</option>
                            </select>
                        </div>

                    </div>

                </div>

                </div>
        </div>

    </div>



</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    function explorar(){
        document.getElementById("f_subir").click()
    }
</script>
<script>
    function cambiar_imagen(){
        let im = document.getElementById("img")
        let fruta = document.getElementById("fruta");
        let sel = fruta.value;
        console.log(sel);

        if(sel=="pina"){
            im.innerHTML = `<img src="/img/avatar1.jpg" class="avatar"  alt="...">\n`;
        }else if(sel=="naranja"){
            im.innerHTML = `<img src="/img/avatar3.jpg"  class="avatar"  alt="...">\n`;
        }else if(sel=="sandia"){
            im.innerHTML = `<img src="/img/avatar2.jpg" class="avatar"     alt="...">\n`;
        }else{
            im.innerHTML = `<img src="/img/avatar1.jpg" class="avatar"  alt="...">\n`;
        }

    }
</script>
</body>
</html>