<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css" />

    <!-- Necessary script for to launch Bootstrap modal on page load -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- DATATABLES -->
    <!--  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <!-- BOOTSTRAP -->


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <title>iPUCP</title>
    <style>
        @media (max-width: 400px) {
            .hidden-mobile {
                display: none;
            }
        }
    </style>
</head>
<body>
<main>

    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-row-container">
                <div class="nav-logo-container">
                    <div class="menu-toggle">
                        <a th:href="@{'/admin/listar'}"style="width: 58%;height: 120%">
                            <img class="img-logo" th:src="@{/img/logo.jpg}" style="border-radius: 100%;margin-bottom: 2mm; height:60px;width:60px; margin-left: 2mm;margin-right:2mm"/>
                        </a>
                    </div>
                    <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP<span style="font-size: medium">v.admin</span></strong></h1></div>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/admin/listar'}">
                            <i class="fas fa-home nav-links-img"></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-links nav-links-btn" th:href="@{'/admin/incidencias'}">
                            <i class="fa-solid fa-gear nav-links-img"
                            ></i>
                        </a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                            <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                        </form>
                    </li>
                </ul>
            </div>

        </nav>
    </div>


    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom" style="text-align: center">Información de usuarios registrados</h1>
        <div class="container">
            <div class="row">

                <div class="col-sm" style="display: flex; justify-content: space-around">
                    <form class="container-fluid" method="post" th:action="@{/admin/BuscarCategoria}">
                        <div class="row">
                            <div class="col-sm">
                                <select class="form-select col-" aria-label="Default select example" name="idcat" id="idcat">
                                    <option value="0">Todos</option>
                                    <option th:each="cargo : ${listaCargos}"
                                            th:text="${cargo.nombreCargo}"
                                            th:value="${cargo.id}"
                                            th:selected="${cargo.id} eq ${id}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-sm">
                                <button type="submit" class="btn btn-success">Filtrar Categoría</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-6 mb-4" style="display: flex; justify-content: flex-end">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal2">Acciones sobre usuario</button>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-danger" role="alert"></div>

        <div>
            <table class="table table-striped display nowrap" id="tablax" style="overflow-x: auto; overflow-y: auto" width="100%">
                <thead style="color: #0095f6">
                <tr class="table-info">
                    <th style="text-align: center">Usuario</th>
                    <th style="text-align: center">Código</th>
                    <th style="text-align: center">Correo</th>
                    <th style="text-align: center">Celular</th>
                    <th style="text-align: center">DNI</th>
                    <th style="text-align: center">Strikes</th>
                    <th style="text-align: center">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${listaUsuarios}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    th:if="${iperfi.get(usuario) != null}"
                                    th:src="|data:image/png;base64,${iperfi.get(usuario)}|"
                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                            />
                            <img
                                    th:if="${iperfi.get(usuario) == null}"
                                    src="/img/avatar.png"
                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p th:text="${usuario.nombre} + ' ' + ${usuario.apellido}" class="fw-bold mb-1">Angelo Ramos</p>
                                <p th:text="${usuario.cargo.nombreCargo}" class="text-muted mb-0">Alumno</p>
                            </div>
                        </div>
                    </td>
                    <th th:text="${usuario.id}" style="text-align: center">20192258</th>
                    <th th:text="${usuario.correo}" style="text-align: center">a20192258@pucp.edu.pe</th>
                    <th th:text="${usuario.celular}" style="text-align: center">993606147</th>
                    <th th:text="${usuario.dni}" style="text-align: center">72673679</th>
                    <th th:text="${usuario.strikes}" style="text-align: center" th:if="${usuario.cargo.id != 6}">1</th>
                    <th style="text-align: center " th:if="${usuario.cargo.id == 6}">-</th>
                    <div th:switch="${usuario.ban}">
                        <td th:case="0" style="text-align: center"><button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target=${'#Modal'+usuario.id}">Suspender</button></td>
                        <td th:case="1" style="text-align: center"><a type="button" class="btn btn-success" th:href="@{'/admin/habilitar?id=' + ${usuario.id}}">Habilitar</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!-- Modal -->
    <div th:each="usuario : ${listaUsuarios}">
        <div class="modal fade" th:id="${'Modal'+usuario.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Suspensión de cuenta</h5>
                        <button th:unless="${#fields.hasErrors('usuario.justificacion')}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        <a th:if="${#fields.hasErrors('usuario.justificacion')}" type="button" class="btn-close" th:href="@{'/admin/listar'}" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">
                        <p th:text="${'La cuenta de '+usuario.nombre+' '+usuario.apellido+' será suspendida'}">info</p>

                        <form method="post" th:action="@{'/admin/suspender'}" class="mt-2" th:id="${'form'+usuario.id}">
                            <div class="mb-3">
                                <input th:value="${usuario.id}" name="id" type="hidden"/>

                                <!-- To-do esto es para que no se envie estos valores nulos al recibirlo en admin en suspender -->
                                <input th:value="${usuario.nombre}" name="nombre" type="hidden"/>
                                <input th:value="${usuario.apellido}" name="apellido" type="hidden"/>
                                <input th:value="${usuario.correo}" name="correo" type="hidden"/>
                                <input th:value="${usuario.celular}" name="celular" type="hidden"/>
                                <input th:value="${usuario.dni}" name="dni" type="hidden"/>
                                <input th:value="${usuario.estado}" name="estado" type="hidden"/>
                                <input th:value="${usuario.cargo.id}" name="cargo" type="hidden"/>
                                <input th:value="${usuario.strikes}" name="strikes" type="hidden"/>
                                <input th:value="${usuario.ban}" name="ban" type="hidden"/>
                                <input value="defaultPassword"  name="contra" type="hidden"/>
                                <!-- ################################################################################3 -->

                                <label for="justificacion" class="form-label">Ingrese justificación: </label>
                                <textarea th:field="${usuario.justificacion}" class="form-control" name="justificacion" id="justificacion" rows="4"
                                          th:classappend="${#fields.hasErrors('usuario.justificacion')?'is-invalid':''}"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.justificacion')}"
                                     th:errors="${usuario.justificacion}">
                                    Please choose a username.
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button th:unless="${#fields.hasErrors('usuario.justificacion')}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                        <a th:if="${#fields.hasErrors('usuario.justificacion')}" type="button" class="btn btn-secondary" th:href="@{'/admin/listar'}">Regresar</a>
                        <button type="submit" class="btn btn-danger" th:form="${'form'+usuario.id}">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var myModal = new bootstrap.Modal(document.getElementById('Modal'+[[${id}]]), {})
        myModal.show()
    </script>


    <!-- Modal 2-->
    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel"aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Seleccionar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body">

                    <p>Usuario nuevo:</p>
                    <p>Se creará nuevo usuario en la base de datos externa</p>
                    <center><a class="btn btn-success" th:href="@{'/admin/nuevoNormal'}">Agregar nuevo usuario</a></center>
                    </br>
                    <p>Registrar seguridad:</p>
                    <p>Se registrará al usuario seguridad brindandole una contraseña</p>
                    <form method="post" id="myform5" th:action="@{'/admin/verificarSeguridad'}">
                        <div class="form-outline">
                            <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Ingresar código de usuario seguridad"/>
                        </div>
                    </form>
                    </br>
                    <center><button type="submit" class="btn btn-success" form="myform5" >Registrar seguridad</button></center>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({

                scrollX:        true,
                scrollCollapse: true,

                //"bPaginate": false,
                //"bFilter": false,
                //"bInfo": false,
                //"ordering": false,
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Búsqueda&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando item _START_ al _END_ de _TOTAL_ en total",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 400,
                lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
            });

            $('.dataTables_filter input[type="search"]').css(
                {'width':'auto','display':'inline-block'}
            );
        });
    </script>

</main>


</body>
</html>