<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style2.css}"/>
        <title>Nuevo Usuario</title>
    </head>
    <body>
        <main>

            <div th:replace="admin/fragment.html :: navbar"></div>

            <div class="container px-4 py-5">
                </br>
                <section class="page-section bg-light" id="portafolio">
                    <h1 class="pb-2 border-bottom" style="text-align: center">Crear nuevo usuario</h1>
                    </br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 mb-4 ">

                                <form method="post" id="myform1" th:action="@{'/admin/save'}">
                                    <div class="row ">
                                        <input value="0" name="estado" type="hidden"/>
                                        <input value="0" name="ban" type="hidden"/>
                                        <input value="0" name="strikes" type="hidden"/>
                                        <input th:value="${tipoUsuario}" name="tipoUsuario" type="hidden"/>
                                        <input th:unless="${tipoUsuario == 'seguridad'}" value="" name="pass2" type="hidden"/>
                                        <input th:unless="${tipoUsuario == 'seguridad'}" value="defaultPassword" name="contra" type="hidden" />


                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="nombre">Nombres (*):</label>
                                                    <input th:field="${usuario.nombre}" type="text" id="nombre" name="nombre" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.nombre')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.nombre')}"
                                                         th:errors="${usuario.nombre}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="apellido">Apellidos (*):</label>
                                                    <input th:field="${usuario.apellido}" type="text" id="apellido" name="apellido" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.apellido')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.apellido')}"
                                                         th:errors="${usuario.apellido}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cargo">Categoría (*):</label>
                                                    <select class="form-select" id="cargo" name="cargo" required th:if="${tipoUsuario == 'seguridad'}">
                                                        <option th:each="cargo : ${listaCargos}"
                                                                th:text="${cargo.nombreCargo}"
                                                                th:value="${cargo.id}" th:if="${cargo.id == 6}">
                                                        </option>
                                                    </select>
                                                    <select class="form-select" id="cargo" name="cargo" required th:unless="${tipoUsuario == 'seguridad'}" th:field="${usuario.cargo}">
                                                        <option th:each="cargo : ${listaCargos}"
                                                                th:text="${cargo.nombreCargo}"
                                                                th:value="${cargo.id}" th:unless="${cargo.id == 6}" >
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="id">Código (*):</label>
                                                    <input th:field="${usuario.id}" type="text" id="id" name="id" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.id')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.id')}"
                                                         th:errors="${usuario.id}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="correo">Correo (*):</label>
                                                    <input th:field="${usuario.correo}" type="text" id="correo" name="correo" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.correo')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.correo')}"
                                                         th:errors="${usuario.correo}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="celular">N° celular (*):</label>
                                                    <input th:field="${usuario.celular}" type="text" id="celular" name="celular" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.celular')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.celular')}"
                                                         th:errors="${usuario.celular}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="dni">DNI (*):</label>
                                                    <input th:field="${usuario.dni}" type="text" id="dni" name="dni" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.dni')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.dni')}"
                                                         th:errors="${usuario.dni}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label for="foto" class="form-label">Foto (*):      </label>
                                                    <input type="file" accept="image/png, image/gif, image/jpeg" class="btn btn-primary input-group" name="foto" style="background-color:grey; border-color:grey" id="foto">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" th:if="${tipoUsuario == 'seguridad'}">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="contra">Ingrese una contraseña (*):</label>
                                                    <input th:field="${usuario.contra}" type="password" id="contra" name="contra" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.contra')?'is-invalid':''}"/>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.contra')}"
                                                         th:errors="${usuario.contra}">
                                                        Please choose a username.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="pass2">Confirme la contraseña (*):</label>
                                                    <input type="password" id="pass2" name="pass2" class="form-control" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>

                                    </div>
                                </form>

                            </div>


                            <div class="col-md-4 mb-4">
                                <img th:src="@{/img/perfil2.jpg}" class="card-img-top" alt="..." style="max-width: 100%; height: auto">

                                <p>(*): Obligatorio</p>

                                <div class="row">
                                    <div class="col-md-6 mb-4 d-grid gap-2">
                                        <a class="btn btn-secondary " th:href="@{'/admin/listar'}" style="max-width: 100%">Regresar</a>
                                    </div>
                                    <div class="col-md-6 mb-4 d-grid gap-2">
                                        <button type="submit" class="btn btn-success " form="myform1" style="max-width: 100%">Agregar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                </div>

            <!-- Modal 2-->
            <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #20c997">
                            <h5 class="modal-title" id="exampleModalLabel2">Envío exitoso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <h6 class="modal-title" >Se ha enviado un correo al personal de seguridad creado</h6>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>