<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style2.css}"/>
        <title>Nuevo Usuario</title>
    </head>
    <body>
        <main>

            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"
                 style="height: 100px">
                <div class="container">
                    <a class="navbar-brand"><img th:src="@{/img/logo.jpg}" alt="..." style="height: 65px;width: 90px;border-radius: 3px;"/></a>
                    <p class="h1" style="color: white">iPUCP</p>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle fw-bold btn btn-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    a20192258@pucp.edu.pe
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{'/admin/incidencias'}">Incidencias</a></li>
                                    <li><a class="dropdown-item" href="">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>



            <div class="container px-4 py-5">
                </br>
                <section class="page-section bg-light" id="portafolio">
                    <h1 class="pb-2 border-bottom" style="text-align: center">Crear nuevo usuario</h1>
                    </br>
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="row">


                                    <div class="col-md-8 mb-4 ">

                                        <form method="post" id="myform1" th:action="@{'/admin/save'}">
                                            <div class="row align-items-stretch mb-5">
                                                <div class="col-md-11">

                                                    <input value="0" name="estado" type="hidden"/>
                                                    <input value="0" name="ban" type="hidden"/>
                                                    <input value="0" name="strikes" type="hidden"/>


                                                    <div class="row">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="nombre">Nombres (*):</label>
                                                                <input type="text" id="nombre" name="nombre" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="apellido">Apellidos (*):</label>
                                                                <input type="text" id="apellido" name="apellido" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="cargo">Categoría (*):</label>
                                                                <select class="form-select" id="cargo" name="cargo" required th:if="${tipoUsuario == 'seguridad'}">
                                                                    <option th:each="cargo : ${listaCargos}"
                                                                            th:text="${cargo.nombreCargo}"
                                                                            th:value="${cargo.id}" th:if="${cargo.id == 6}">
                                                                    </option>
                                                                </select>
                                                                <select class="form-select" id="cargo" name="cargo" required th:unless="${tipoUsuario == 'seguridad'}">
                                                                    <option th:each="cargo : ${listaCargos}"
                                                                            th:text="${cargo.nombreCargo}"
                                                                            th:value="${cargo.id}" th:unless="${cargo.id == 6}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="id">Código (*):</label>
                                                                <input type="text" id="id" name="id" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="correo">Correo (*):</label>
                                                                <input type="text" id="correo" name="correo" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="celular">N° celular (*):</label>
                                                                <input type="text" id="celular" name="celular" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="dni">DNI (*):</label>
                                                                <input type="text" id="dni" name="dni" class="form-control" required/></div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label for="foto" class="form-label">Foto (*):      </label>
                                                                <input type="file" accept="image/png, image/gif, image/jpeg" class="btn btn-primary" name="foto" style="background-color:grey; border-color:grey" id="foto">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row" th:if="${tipoUsuario == 'seguridad'}">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="contra">Ingrese una contraseña (*):</label>
                                                                <input type="text" id="contra" name="contra" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="pass2">Confirme la contraseña (*):</label>
                                                                <input type="text" id="pass2" name="pass2" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>

                                    </div>


                                    <div class="col-md-4 mb-4">
                                        <div class="container ">
                                            <img th:src="@{/img/perfil2.jpg}" class="card-img-top" alt="..." style="width:300px; height:250px">

                                            <p>(*): Obligatorio</p>

                                            <div class="row">
                                                <div class="col-md-6 mb-4 ">
                                                    <div class="form-outline">
                                                        <a class="btn btn-secondary btn-lg" th:href="@{'/admin/listar'}">Regresar</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4 ">
                                                    <div class="form-outline">
                                                        <button type="submit" class="btn btn-success btn-lg" form="myform1">Agregar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>

            <!-- Modal 2-->
            <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #20c997">
                            <h5 class="modal-title" id="exampleModalLabel2">Envío exitoso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <h6 class="modal-title" >Se ha enviado un correo al personal de seguridad creado</h6>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>