<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/boton.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link
                rel="stylesheet"
                th:href="@{https://use.fontawesome.com/releases/v5.15.1/css/all.css}"
                integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css}"/>
        <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:500,700}" rel="stylesheet" type="text/css" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}" rel="stylesheet" type="text/css" />
        <title>Detalle Incidencia</title>
    </head>
    <body>
        <main>

            <button class="btn-wsp" target="_blank" data-bs-toggle="modal" data-bs-target="#Modal3" style="background-color:lightsteelblue; border-color:blue">
                <i class="fa-solid fa-house"
                   style="color: black;
                   position: relative;
                   font-size: 30px;
                   margin-left: 0px;
                   margin-top: -40px;">
                </i>
            </button>

            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark "
                 style="height: 100px">
                <div class="container">
                    <a class="navbar-brand" href="" ><img th:src="@{/img/logo.jpg}" alt="..." style="height: 65px;width: 90px;border-radius: 3px;"/></a>
                    <a class="h1" style="color: white">iPUCP</a>


                    <div class="collapse navbar-collapse " id="navbarResponsive">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">


                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#"
                                        ><i class="fa-solid fa-chart-line"
                                            style="color: white;
                                        ">
                                        </i></a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="#"
                                        ><i class="fa-solid fa-map" style="color: white;
                                        "></i></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#"
                                        ><i class="fa-solid fa-list"
                                            style="color: white;
                                        ">
                                        </i></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                           style="color: white">a20192258@pucp.edu.pe</a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" href="" style="color: black">Cerrar Sesión</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </ul>
                    </div>

                </div>
            </nav>

            </br>
            </br>
            <div class="py-1 text-center">
                <h2>Detalle Incdencia #2022</h2>
            </div>

            <div class="container offset-2 mt-4 middlearea" >
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <img
                                        src="https://scontent-otp1-1.cdninstagram.com/v/t51.2885-19/s150x150/83792429_185184289374945_1047727451901263872_n.jpg?_nc_ht=scontent-otp1-1.cdninstagram.com&_nc_ohc=oor-Z1FIzvgAX-uXuhs&tp=1&oh=e92baf321c3e2e5ebf9416204da05c82&oe=602E0320"
                                        class="mr-2"
                                        style="width: 35px; height: 35px; border-radius: 50%"
                                />
                                <span class="postuserfont"><strong>20180252</strong></span>
                            </div>
                            <img
                                    src="https://blog.biletbayi.com/wp-content/uploads/2019/12/rize.jpg"
                                    class="card-img-top"
                                    alt="..."
                            />
                            <ul
                                    class="list-group list-group-horizontal mt-1"
                                    style="list-style-type: none; border: 0"
                            >
                            </ul>
                            <div class="card-body" style="margin-top: -15px">
                                <p class="card-text postuserfont">
                                    <strong style="margin-left: -4px; margin-right: 5px"
                                    >HUAWEI ENCONTRADO EN CIA</strong
                                    >
                                </p>
                                <p class="card-text postuserfont">
                                    <strong style="margin-left: -4px; margin-right: 5px"
                                    >Tipo:</strong
                                    > Objeto perdido
                                </p>

                                <p class="card-text postuserfont" style="margin-top: -15px">
                                    <strong style="margin-left: -4px; margin-right: 5px"
                                    >Descripción: </strong
                                    >
                                </p>
                                <p class="card-text postuserfont" style="margin-top: -15px">
                                    Se ha encontrado este celular modelo Huaweii P80 en la biblioteca de CIA a las 2:40pm, creemos que ha estado aquí desde hace una hora y nadie lo reclama
                                </p>
                                <p
                                        class="card-text"
                                        style="
                  margin-top: -10px;
                  margin-left: -4px;
                  font-size: 12px;
                  color: rgb(139, 133, 133);
                "
                                >
                                    Destacado 246 veces
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer py-4">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4 text-lg-start">Copyright &copy; iPUCP 2022</div>
                            <div class="col-lg-4 my-3 my-lg-0">
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="col-lg-4 text-lg-end">
                                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>



        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>