<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/boton.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link
                rel="stylesheet"
                th:href="@{https://use.fontawesome.com/releases/v5.15.1/css/all.css}"
                integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css}"/>
        <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:500,700}" rel="stylesheet" type="text/css" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}" rel="stylesheet" type="text/css" />
        <title>Detalle Incidencia</title>
    </head>
    <body>
        <main>

            <div class="nav-container">
                <nav class="navbar">
                    <div class="navbar-row-container">
                        <div class="nav-logo-container">
                            <div class="menu-toggle">
                                <a th:href="@{'/seguridad/incidencias?index=0'}">
                                    <img class="img-logo" th:src="@{/img/logo.jpg}" style="border-radius: 100%;margin-bottom: 2mm; height:60px;width:60px; margin-left: 2mm;margin-right:2mm"/>
                                </a>
                            </div>
                            <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP<span style="font-size: medium">v.seguridad</span></strong></h1></div>
                        </div>
                        <ul class="nav-menu">
                            <li>
                                <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/seguridad/dashboard'}">
                                    <i class="fas fa-chart-line nav-links-img"></i>
                                </a>
                            </li>
                            <li>
                                <a class="nav-links nav-links-btn" th:href="@{'/seguridad/mapa_incidencias'}">
                                    <i class="far fa-compass nav-links-img"
                                    ></i>
                                </a>
                            </li>
                            <li>
                                <a class="nav-links nav-links-btn" th:href="@{'/seguridad/lista_usuarios'}">
                                    <i class="fas fa-list nav-links-img"
                                    ></i>
                                </a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                                    <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                                </form>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>

            </br>
            </br>

            <div class="container mt-4  middlearea">
                <div class="row justify-content-center text-center">
                    <h2 th:text="${'Detalle de Incidencia #'+incidencia.id}"
                        style="text-align: center; margin-top: -30px"></h2>
                </div>
                <div class="row justify-content-center mt-4 mb-6">
                    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <img
                                        th:if="${imgdet != null}" th:src="|data:image/png;base64,${imgdet}|"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                />
                                <img
                                        th:if="${imgdet == null}" src="/img/avatar.png"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                />
                                <span class="postuserfont"><strong th:text="${incidencia.codigo.getId()}"></strong></span>
                            </div>
                            <img
                                    th:src="|data:image/png;base64,${imgini}|"
                                    class="card-img-top"
                                    alt="..."
                            />
                            <ul
                                    class="list-group list-group-horizontal mt-1"
                                    style="list-style-type: none; border: 0"
                            >
                            </ul>
                            <div class="card-body" style="margin-top: -15px">

                                <p class="card-text postuserfont">
                                    <strong style="margin-left: -4px; margin-right: 5px" th:text="${incidencia.nombre}"
                                    ></strong>
                                </p>

                                <p class="card-text postuserfont" style="margin-top: -10px">
                                    <strong style="margin-left: -4px; margin-right: 5px" >Ubicación: </strong>
                                    <span th:text="${incidencia.ubicacion.getNombre()}"></span>
                                </p>
                                <p class="card-text postuserfont" style="margin-top: -15px">
                                    <strong style="margin-left: -4px; margin-right: 5px" >Tipo: </strong>
                                    <span th:text="${incidencia.idtipo.getTipoIncidencia()}"></span>
                                </p>
                                <p class="card-text postuserfont" style="margin-top: -15px">
                                    <strong style="margin-left: -4px; margin-right: 5px" >Estado: </strong>
                                    <span th:if="${incidencia.estado == 3 or incidencia.getMax()==5}">Resuelta</span>
                                    <span th:if="${incidencia.estado == 0}">Registrada</span>
                                    <span th:if="${incidencia.estado == 1}">En proceso</span>
                                    <span th:if="${incidencia.estado == 2}">Atendida</span>
                                </p>
                                <p class="card-text postuserfont" style="margin-top: -15px">
                                    <strong style="margin-left: -4px; margin-right: 5px"
                                    >Descripción: </strong
                                    >
                                </p>
                                <p class="card-text postuserfont" style="margin-top: -15px" th:text="${incidencia.descripcion}">
                                </p>
                                <p
                                        class="card-text"
                                        style="
                  margin-top: -10px;
                  margin-left: -4px;
                  font-size: 12px;
                  color: rgb(139, 133, 133);
                "
                                        th:text="${'Destacado '+incidencia.destacado+' veces'}"
                                >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <!--style="margin-left:450px"-->
                        <div class="col-md-6" >
                            <a class="btn btn-secondary" th:href="@{'/seguridad/reporte' + '?id=' + ${incidencia.codigo.getId()} }"
                            style="margin-left: 200px; margin-top: 10px">Regresar</a>
                        </div>
                    </div>
                </div>
                </br>
                <div class="container">
                    <br>
                    <br>
                    <br>
                </div>
            </div>




        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>