<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <link rel="stylesheet" th:href="@{/css/boton.css}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1e18eec1cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
            rel="stylesheet"
            th:href="@{https://use.fontawesome.com/releases/v5.15.1/css/all.css}"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Comentar Incidencia</title>

  </head>
  <body>
    <main>
      <div>
        <a th:href="@{'/seguridad/incidencias'}" ><button class="btn-wsp fixed-bottom" target="_blank" data-bs-toggle="modal" data-bs-target="#Modal3" style="background-color:lightsteelblue; border-color:blue">
          <i class="fa-solid fa-house"
             style="color: black;
           position: relative;
           font-size: 30px;
           margin-left: 0px;
           margin-top: -40px;">
          </i>
        </button></a>
      </div>


      <div class="nav-container">
        <nav class="navbar">
          <div class="navbar-row-container">
            <div class="nav-logo-container">
              <div class="menu-toggle">
                <img class="img-logo" th:src="@{/img/logo-pucp1.png}" alt="..."/>
              </div>
              <div class="a-logo" href="#inicio"><h1 id="navbar-logo"><strong>iPUCP</strong></h1></div>
            </div>
            <ul class="nav-menu">
              <li>
                <a id="abrir-modal-cotizar-menu" class="nav-links nav-links-btn" th:href="@{'/seguridad/dashboard'}">
                  <i class="fas fa-chart-line nav-links-img"></i>
                </a>
              </li>
              <li>
                <a class="nav-links nav-links-btn" th:href="@{'/seguridad/mapa_incidencias'}">
                  <i class="far fa-compass nav-links-img"
                     style="color: #B9B9B9"></i>
                </a>
              </li>
              <li>
                <a class="nav-links nav-links-btn" th:href="@{'/seguridad/lista_usuarios'}">
                  <i class="fas fa-list nav-links-img"
                  ></i>
                </a>
              </li>
              <li>
                <form th:action="@{/logout}" method="post" class="nav-links nav-links-btn">
                  <button style="border: 0; background-color: transparent"  class="fas fa-sign-out-alt nav-links-img"></button>

                </form>
              </li>
            </ul>
          </div>

        </nav>
      </div>

      </br>
      </br>

      <div class="row justify-content-center mx-auto m-2">

        <h1 class="pb-2 border-bottom" style="text-align: center; margin-top: -30px">Comentar Incidencia</h1>


        <div class="col-xl-5 col-lg-6  ">
          <div class="card shadow mb-4">
            <div class="card-header">
              <span class="postuserfont" th:text="${'Incidencia #'+incidencia.id}"><strong></strong></span>
            </div>
            <img
                    src="https://i.insider.com/5f1b201a5af6cc7e1b741330?width=1136&format=jpeg"
                    class="card-img-top"
                    alt="..."
            />
          </div>
        </div>

        <div class="col-xl-5 col-lg-6">
          <form method="post" class="card shadow mb-4" th:action="@{'/seguridad/comentar'}" th:id="${'form'+incidencia.id}">


            <div class="form-group">
              <!-- Name input-->
              <span class="postuserfont m-2"><strong>Tipo:</strong></span>
              <input class="form-check" id="tipo" name="tipo" type="text" th:value="${incidencia.idtipo.tipoIncidencia}" style="margin-left: 21px;"  disabled>
            </div>


            <div class="form-group">
              <!-- Name input-->
              <span class="postuserfont m-2"><strong> ¿Asistencia médica?</strong></span>
              <div th:switch="${incidencia.emMedica}" >
                <input th:case="0" class="form-check" id="emMedica" name="emMedica" type="text" value="No" style="margin-left: 21px;" disabled>
                <input th:case="1" class="form-check" id="emMedica" name="emMedica" type="text" value="Sí" style="margin-left: 21px;" disabled>
              </div>
            </div>

            <div class="form-group">
              <!-- Name input-->
              <span class="postuserfont m-2"><strong>Estado:</strong></span>
              <div th:switch="${incidencia.estado}">
                <input th:case="0" class="form-check" id="estado" name="estado" type="text" value="En Proceso" style="margin-left: 21px;" disabled>
                <input th:case="1" class="form-check" id="estado" name="estado" type="text" value="Atendido" style="margin-left: 21px;" disabled>
              </div>
            </div>


            <div class="form-group form-group-textarea mb-md-0">
              <!-- Message input-->
              <span class="postuserfont m-2"><strong>Ingresar comentario *</strong></span>
              <input th:value="${incidencia.id}" name="id" type="hidden"/>
              <input th:value="${incidencia.codigo.id}" name="codigo" type="hidden"/>

              <textarea th:field="${incidencia.comentario}" class="form-control m-2" type="text" id="comentario" name="comentario"
                        th:classappend="${#fields.hasErrors('incidencia.comentario')?'is-invalid':''}" required style="width: 95%"></textarea>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('incidencia.comentario')}"
                   th:errors="${incidencia.comentario}">
                Please choose a username.
              </div>

            </div>



            <div style="text-align: center;">
              <button type="submit" class="btn btn-success" style="width:100px;height:40px;" > Ingresar</button>
            </div>
            <br>
            <p>

            </p>
            <p>

            </p>
            <br>





          </form>
        </div>


      </div>



      <!-- Modal 1-->
      <!-- <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar su contraseña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form method="post" th:action="@{'/product/save'}" class="mt-2" id="form1">
                <div class="mb-3">
                  <label for="incidencia" class="form-label">Contraseña: *</label>
                  <input type="password" id="incidencia" class="form-control" value="" required/>
                </div>
                <div class="mb-3">
                  <label for="incidencia" class="form-label">Repetir contraseña: *</label>
                  <input type="password" id="incidencia" class="form-control" value="" required/>
                </div>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal2">Continuar</button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Modal 2-->
      <!-- <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar código enviado a su correo.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form method="post" th:action="@{'/product/save'}" class="mt-2" id="form1">
                <div class="mb-3">
                  <label for="incidencia" class="form-label">Código: *</label>
                  <input type="password" id="incidencia" class="form-control" value="" required/>
                </div>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Registrar</button>
            </div>
          </div>
        </div>
      </div> -->




    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>